---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="384f342d02d51aabadcfe407a50bb751",
        oauth_signature="UnUAQkiwML9vFBl1UYaapeVb2zA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446085827", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 02:30:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1ac57ecf7529def6253c82ea445ecb4d
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1446086131'
      X-Response-Time:
      - '63'
      X-Transaction:
      - 5ffbc7e56bdea0ba
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Oct 29 02:30:20 +0000 2015","id":659557853561098240,"id_str":"659557853561098240","text":"RT
        @IainPageFox29: Watching World Series with @KathyOrrFOX29 and @LucyNolandFOX29.
        @KathyOrrFOX29 brought the popcorn. @FOX29philly https:\/\u2026","source":"\u003ca
        href=\"http:\/\/www.socialnewsdesk.com\" rel=\"nofollow\"\u003eSocialNewsDesk\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14787713,"id_str":"14787713","name":"FOX
        29","screen_name":"FOX29philly","location":"Philadelphia, PA - Old City","description":"Get
        the latest Philadelphia news, sports and weather.\r\nhttp:\/\/t.co\/n7Tl8b4ZCS","url":"http:\/\/t.co\/5STjRQohzo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5STjRQohzo","expanded_url":"http:\/\/www.fox29.com","display_url":"fox29.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/n7Tl8b4ZCS","expanded_url":"http:\/\/facebook.com\/FOX29Philadelphia","display_url":"facebook.com\/FOX29Philadelp\u2026","indices":[55,77]}]}},"protected":false,"followers_count":215849,"friends_count":4280,"listed_count":1699,"created_at":"Thu
        May 15 15:51:17 +0000 2008","favourites_count":794,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":139959,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/859386392\/9d0c40cf51e68913e48aa3bf68825082.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/859386392\/9d0c40cf51e68913e48aa3bf68825082.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/529306817294106624\/vwMmooz4_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/529306817294106624\/vwMmooz4_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14787713\/1415031567","profile_link_color":"0000FF","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Oct 29 02:28:26 +0000 2015","id":659557372478808065,"id_str":"659557372478808065","text":"Watching
        World Series with @KathyOrrFOX29 and @LucyNolandFOX29. @KathyOrrFOX29 brought
        the popcorn. @FOX29philly https:\/\/t.co\/cLKMv8EbsM","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_us[...]
