---
http_interactions:
- request:
    method: post
    uri: https://<TWITTER_CONSUMER_KEY>:<TWITTER_CONSUMER_SECRET>@api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 04:26:26 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 6395370762a6c2e40bcaf25451a70378
      X-Response-Time:
      - '23'
      X-Transaction:
      - 74eac25706786eff
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAANhbiQAAAAAAtkPVq%2BGysDsRyFhfGkYYGFJQ2sA%3DhAdDDopfDlttj1c4Qr7WiCtdofNlKW1q6zbowWE3aFHDYppyWZ"}'
  recorded_at: Thu, 29 Oct 2015 04:26:26 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAANhbiQAAAAAAtkPVq%2BGysDsRyFhfGkYYGFJQ2sA%3DhAdDDopfDlttj1c4Qr7WiCtdofNlKW1q6zbowWE3aFHDYppyWZ
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Connection-Hash:
      - d9861df32fcf0cec3423460edc568174
      X-Response-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Your credentials do not allow access to this
        resource","code":220}]}'
  recorded_at: Thu, 29 Oct 2015 04:26:26 GMT
recorded_with: VCR 2.9.3
