---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="9e464be12d046a709fe5349648680207",
        oauth_signature="zubNPsnhv6Wam96Mb6mty3Iz86o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446092786", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 04:26:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 32188ce53d98663d3074755be30429b0
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '8'
      X-Rate-Limit-Reset:
      - '1446093680'
      X-Response-Time:
      - '62'
      X-Transaction:
      - e0b70b8ea7d1e0c4
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Oct 29 04:25:15 +0000 2015","id":659586771269713920,"id_str":"659586771269713920","text":"RT
        @KAKA: Amazing game #SEAvLA !! Congratulations @SoundersFC !! #MLSCupPlayoffs","source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":107146095,"id_str":"107146095","name":"Major
        League Soccer","screen_name":"MLS","location":"U.S. and Canada","description":"The
        Official Twitter of Major League Soccer.","url":"https:\/\/t.co\/TETbKToAG2","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TETbKToAG2","expanded_url":"http:\/\/mlssoccer.com","display_url":"mlssoccer.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1307003,"friends_count":11772,"listed_count":6751,"created_at":"Thu
        Jan 21 17:42:20 +0000 2010","favourites_count":4489,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":70406,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/578279779499044865\/9vB5DlKC.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/578279779499044865\/9vB5DlKC.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/618051008829132804\/aZM1U8fz_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/618051008829132804\/aZM1U8fz_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/107146095\/1446071231","profile_link_color":"1A00FF","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Oct 29 04:17:48 +0000 2015","id":659584895749120000,"id_str":"659584895749120000","text":"Amazing
        game #SEAvLA !! Congratulations @SoundersFC !! #MLSCupPlayoffs","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":[...]
