---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="9b504f97ed43ec324013db3ec1b34350",
        oauth_signature="w55rIGJnAE45xoYKn8lh1JeOFOI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446063301", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 20:15:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 751244de02f4bfb45519271ce096e3bc
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1446064199'
      X-Response-Time:
      - '82'
      X-Transaction:
      - ccf5a82ee0d2c97f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Oct 28 20:14:44 +0000 2015","id":659463327085518849,"id_str":"659463327085518849","text":"RT
        @CoconnellFox29: Update:Officials confirm rogue #blimp is on the ground in
        Montour Co. PA. Local media says it came down in 2 parts. @FO\u2026","source":"\u003ca
        href=\"http:\/\/www.socialnewsdesk.com\" rel=\"nofollow\"\u003eSocialNewsDesk\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14787713,"id_str":"14787713","name":"FOX
        29","screen_name":"FOX29philly","location":"Philadelphia, PA - Old City","description":"Get
        the latest Philadelphia news, sports and weather.\r\nhttp:\/\/t.co\/n7Tl8b4ZCS","url":"http:\/\/t.co\/5STjRQohzo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5STjRQohzo","expanded_url":"http:\/\/www.fox29.com","display_url":"fox29.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/n7Tl8b4ZCS","expanded_url":"http:\/\/facebook.com\/FOX29Philadelphia","display_url":"facebook.com\/FOX29Philadelp\u2026","indices":[55,77]}]}},"protected":false,"followers_count":215759,"friends_count":4280,"listed_count":1698,"created_at":"Thu
        May 15 15:51:17 +0000 2008","favourites_count":794,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":139910,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/859386392\/9d0c40cf51e68913e48aa3bf68825082.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/859386392\/9d0c40cf51e68913e48aa3bf68825082.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/529306817294106624\/vwMmooz4_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/529306817294106624\/vwMmooz4_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14787713\/1415031567","profile_link_color":"0000FF","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Oct 28 20:12:16 +0000 2015","id":659462706995531776,"id_str":"659462706995531776","text":"Update:Officials
        confirm rogue #blimp is on the ground in Montour Co. PA. Local media says
        it came down in 2 parts. @FOX29philly","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user[...]
