---
http_interactions:
- request:
    method: post
    uri: https://<TWITTER_CONSUMER_KEY>:<TWITTER_CONSUMER_SECRET>@api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 20:15:01 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 9d874fb0b46c0be36d2e7c4187ddfdf1
      X-Response-Time:
      - '22'
      X-Transaction:
      - 9c4398bff0cb0571
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAANhbiQAAAAAAtkPVq%2BGysDsRyFhfGkYYGFJQ2sA%3DhAdDDopfDlttj1c4Qr7WiCtdofNlKW1q6zbowWE3aFHDYppyWZ"}'
  recorded_at: Wed, 28 Oct 2015 20:15:01 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAANhbiQAAAAAAtkPVq%2BGysDsRyFhfGkYYGFJQ2sA%3DhAdDDopfDlttj1c4Qr7WiCtdofNlKW1q6zbowWE3aFHDYppyWZ
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Connection-Hash:
      - 495d0cc608f985dd0d9f4e7cbc9f2b06
      X-Response-Time:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Your credentials do not allow access to this
        resource","code":220}]}'
  recorded_at: Wed, 28 Oct 2015 20:15:01 GMT
recorded_with: VCR 2.9.3
