---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="77fe20ce4e2a0f5c57173bf2c935f52c",
        oauth_signature="SAuPxQuuMIJvT6pGNOAbChsA6RU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446098050", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 05:54:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 86e63cf22721fa6a6c5965fc71f1056a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1446098638'
      X-Response-Time:
      - '62'
      X-Transaction:
      - bcae190bebcdd12b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Oct 29 05:51:26 +0000 2015","id":659608458661072896,"id_str":"659608458661072896","text":"How
        TV networks are secretly canceling shows without you knowing: https:\/\/t.co\/MRjxzr30q1
        https:\/\/t.co\/2s1WS8FNo4","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2883841,"id_str":"2883841","name":"E!
        Online","screen_name":"eonline","location":"Los Angeles, CA","description":"Breaking
        entertainment news, celeb gossip & the best of pop culture from http:\/\/t.co\/G81dlZhTp2!","url":"http:\/\/t.co\/J6mkqdLswn","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/J6mkqdLswn","expanded_url":"http:\/\/www.eonline.com","display_url":"eonline.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/G81dlZhTp2","expanded_url":"http:\/\/eonline.com","display_url":"eonline.com","indices":[73,95]}]}},"protected":false,"followers_count":8512554,"friends_count":123030,"listed_count":33671,"created_at":"Thu
        Mar 29 19:42:27 +0000 2007","favourites_count":26771,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":147794,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/453610885148188672\/UcSzs_cc.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/453610885148188672\/UcSzs_cc.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/649277430255894528\/fXWZf0GJ_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/649277430255894528\/fXWZf0GJ_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2883841\/1433786999","profile_link_color":"00B0F0","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"F0F0F0","profile_text_color":"0D0D0D","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":7,"favorite_count":14,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/MRjxzr30q1","expanded_url":"http:\/\/eonli.ne\/1jRycMO","display_url":"eonli.ne\/1jRycMO","indices":[66,89]}],"media":[{"id":659608458073772032,"id_str":"659608458073772032","indices":[90,113],"media_url":"http:\/\/pbs.twimg.com\/media\/CSdmZdpUkAAWk5X.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CSdmZdpUkAAWk5X.jpg","url":"https:\/\/t.co\/2s1WS8FNo4","display_url":"pic.twitter.com\/2s1WS8FNo4","expanded_url":"http:\/\/twitter.com\/eonline\/status\/659608458661072896\/photo\/1","type":"photo","sizes":{"medium":{"w":560,"h":415,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":560,"h":415,"resize":"fit"},"small":{"w":340,"h":251,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":659608458073772032,"id_str":"659608458073772032","indices":[90,113],"media_url":"http:\/\/pbs.twimg.com\/media\/CSdmZdpUkAAWk5X.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CSdmZdpUkAAWk5X.jpg","url":"https:\/\/t.co\/2s1WS8FNo4","display_url":"pic.twitter.com\/2s1WS8FNo4","expanded_url":"http:\/\/twitter.com\/eonline\/status\/659608458661072896\/photo\/1","type":"photo","sizes":{"medium":{"w":560,"h":415,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":560,"h":415,"resize":"fit"},"small":{"w":340,"h":251,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Oct 29 05:35:29 +0000 2015","id":659604446482210816,"id_str":"659604446482210816","text":"Whoa!
        Tonight''s #Nashville just got fatal for one long-time character... https:\/\/t.co\/y7iYs3EIlp
        https:\/\/t.co\/YI9ILAaC8s","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="51559402c0bb874019ca5a89172d3f56",
        oauth_signature="lqJPcgOOoo4%2FvIQHKK%2B%2BGlR6vBY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446098051", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      [...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/destroy.json
    body:
      encoding: UTF-8
      string: id=659604446482210816
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="f9c76fd21b14a7fada444252c2a4d40b",
        oauth_signature="viAO4ZVBYexXoJLyzm8TT%2FEaOQY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446098051", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 05:54:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f691dd9dd715e896cce5fbca9520e4c6
      X-Response-Time:
      - '59'
      X-Transaction:
      - af291504f9bb6f55
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Thu Oct 29 05:35:29 +0000 2015","id":659604446482210816,"id_str":"659604446482210816","text":"Whoa!
        Tonight''s #Nashville just got fatal for one long-time character... https:\/\/t.co\/y7iYs3EIlp
        https:\/\/t.co\/YI9ILAaC8s","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":f[...]
[...]
