---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/destroy.json
    body:
      encoding: UTF-8
      string: id=0
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="2a055602879ca3a8bbbb942e9a04b2ce",
        oauth_signature="fHAs%2BD3gelrCeNZkOt5efqRF38U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446137172", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 16:46:12 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c17a8b8f539f83c965422d1328512e85
      X-Response-Time:
      - '18'
      X-Transaction:
      - a65d21ad2b17a866
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":144,"message":"No status found with that ID."}]}'
  recorded_at: Thu, 29 Oct 2015 16:46:12 GMT
recorded_with: VCR 2.9.3
