---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/destroy.json
    body:
      encoding: UTF-8
      string: id=0
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="43a9e5a432bbb8fac31b10c2f89be166",
        oauth_signature="0Yk0kSyiP%2FFdFdUYUgH7bf3C9uE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446136679", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 16:37:59 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 58952034591ffce49592a7a4ddcd8d86
      X-Response-Time:
      - '15'
      X-Transaction:
      - ca209751be36abb4
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":144,"message":"No status found with that ID."}]}'
  recorded_at: Thu, 29 Oct 2015 16:37:59 GMT
recorded_with: VCR 2.9.3
