---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="5c0bb9ea9a92d0e453668dd92a8bda86",
        oauth_signature="j8KpFtzkio%2BvOf8XtTXTerD94P0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446076450", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 23:54:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 95ed6116e75cbe093248a17bf3f023a7
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1446077010'
      X-Response-Time:
      - '60'
      X-Transaction:
      - ed2a159ae2b8943c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Oct 28 23:49:50 +0000 2015","id":659517458697445376,"id_str":"659517458697445376","text":"RT
        @KathyOrrFOX29: Heavy rain takes over all of Montgomery County, PA. Impacting
        over 800,000 people. Drive slowly. @FOX29philly https:\/\/t.\u2026","source":"\u003ca
        href=\"http:\/\/www.socialnewsdesk.com\" rel=\"nofollow\"\u003eSocialNewsDesk\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14787713,"id_str":"14787713","name":"FOX
        29","screen_name":"FOX29philly","location":"Philadelphia, PA - Old City","description":"Get
        the latest Philadelphia news, sports and weather.\r\nhttp:\/\/t.co\/n7Tl8b4ZCS","url":"http:\/\/t.co\/5STjRQohzo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5STjRQohzo","expanded_url":"http:\/\/www.fox29.com","display_url":"fox29.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/n7Tl8b4ZCS","expanded_url":"http:\/\/facebook.com\/FOX29Philadelphia","display_url":"facebook.com\/FOX29Philadelp\u2026","indices":[55,77]}]}},"protected":false,"followers_count":215802,"friends_count":4280,"listed_count":1699,"created_at":"Thu
        May 15 15:51:17 +0000 2008","favourites_count":794,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":139933,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/859386392\/9d0c40cf51e68913e48aa3bf68825082.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/859386392\/9d0c40cf51e68913e48aa3bf68825082.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/529306817294106624\/vwMmooz4_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/529306817294106624\/vwMmooz4_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14787713\/1415031567","profile_link_color":"0000FF","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Oct 28 23:39:42 +0000 2015","id":659514910594977792,"id_str":"659514910594977792","text":"Heavy
        rain takes over all of Montgomery County, PA. Impacting over 800,000 people.
        Drive slowly. @FOX29philly https:\/\/t.co\/W8osydSinR","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=This+post+will+never+be+tweeted
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="07dc4d794b735b7ded2412552d6c479c",
        oauth_signature="spW5V3BODgZHgWdtdmk19X%2FRmoA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446076451", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 23:54:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fbc3ffdc15324b422d9126f7e082f72c
      X-Response-Time:
      - '68'
      X-Transaction:
      - 4abbbb7a9f8be6ee
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Wed Oct 28 23:54:11 +0000 2015","id":659518555935772672,"id_str":"659518555935772672","text":"This
        post will never be tweeted","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\"
        rel=\"nofollow\"\u003eapi_curious-development\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"[...]
[...]
