<div class="row">
  <div class="col-md-12>">

      <div class="panel-body">
        <h3> <%= link_to tweet.user.screen_name, tweet.user.uri.to_s %></h3>
        <%= tweet.full_text %>
      </div>

  </div>
</div>
<hr>
