---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="da50c88ba279a58b33ba10afb3f53784",
        oauth_signature="BPeTVaAs%2F5c9xiEUXTmPEPwNhj0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446101583", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 06:53:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b3665681d8adfb77cb5ad498f92c25bf
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1446102211'
      X-Response-Time:
      - '60'
      X-Transaction:
      - 52b4f24505c5d53b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Oct 29 06:51:39 +0000 2015","id":659623614854000640,"id_str":"659623614854000640","text":"RT
        @ESPNNBA: Top 5 scoring rookies:\n1. @JahlilOkafor\n2. @emmanuelmudiay\n3.
        @kporzee\nT4. @KarlTowns\nT4. @DevinBook https:\/\/t.co\/RxxQJ0eIPK","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":26257166,"id_str":"26257166","name":"SportsCenter","screen_name":"SportsCenter","location":"Bristol,
        CT","description":"All things sports. Nominate top plays using #SCtop10. *If
        you tweet or otherwise send us content, you consent to ESPN using and showcasing
        it in any media.*","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":21540964,"friends_count":1603,"listed_count":40076,"created_at":"Tue
        Mar 24 15:28:02 +0000 2009","favourites_count":539,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":67856,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/480904536454750208\/mD9fyg2r.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/480904536454750208\/mD9fyg2r.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/641252681017856001\/p6PL2KFg_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/641252681017856001\/p6PL2KFg_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/26257166\/1441721587","profile_link_color":"009999","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Oct 29 06:26:09 +0000 2015","id":659617197355106304,"id_str":"659617197355106304","text":"Top
        5 scoring rookies:\n1. @JahlilOkafor\n2. @emmanuelmudiay\n3. @kporzee\nT4.
        @KarlTowns\nT4. @DevinBook https:\/\/t.co\/RxxQJ0eIPK","source":"\u003ca href=\"http:\/\/www.spredfast.com\"
        rel=\"nofollow\"\u003eSpredfast app\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":74518740,"id_str":"74518740","name":"NBA
        on ESPN","screen_name":"ESPNNBA","location":"ESPN","description":"Official
        Twitter account of the NBA on ESPN, home of the NBA Draft and the NBA Finals.
        https:\/\/t.co\/ZXP0Y8t2Wr","url":"https:\/\/t.co\/4FNCetLnCA","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/4FNCetLnCA","expanded_url":"http:\/\/espn.go.com\/nba\/","display_url":"espn.go.com\/nba\/","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/ZXP0Y8t2Wr","expanded_url":"http:\/\/Instagram.com\/nbaonespn","display_url":"Instagram.com\/nbaonespn","indices":[87,110]}]}},"protected":false,"followers_count":1666353,"friends_count":764,"listed_count":10742,"created_at":"Tue
        Sep 15 18:37:13 +0000 2009","favourites_count":192,"utc_offset":-18000,"time_zone":"Quito","geo_enabled":false,"verified":true,"statuses_count":47763,"lang":"en","contributors_enabled":false,"is_translator[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="5fa48b82f4441f15ef35d4707774a302",
        oauth_signature="Srq%2FTCOTrxAhB7b7jYkR%2F82Ajws%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446101583", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      co[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/retweet/659623614854000640.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="196c277ce9cc0b0ceb3da4b1e3766d60",
        oauth_signature="3WbnpzCMZmQ%2BrxlhCL%2BF1aDREnA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446101588", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content[...]
[...]
