---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="76c5f7abf62ed814e4c6f357c705ac99",
        oauth_signature="RqJpcG3UlV19njkWpB2%2BD0teEgY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446055913", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 18:11:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 10c0919036f943b42e010cf992e92262
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1446056813'
      X-Response-Time:
      - '61'
      X-Transaction:
      - fefb5025941ffc7f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Oct 28 18:11:25 +0000 2015","id":659432294919311360,"id_str":"659432294919311360","text":"Liam
        Hemsworth on Miley Cyrus: \"You fall in love with who you fall in love with\"
        https:\/\/t.co\/KrgRHcyJc9 https:\/\/t.co\/rzsyjQybuj","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2883841,"id_str":"2883841","name":"E!
        Online","screen_name":"eonline","location":"Los Angeles, CA","description":"Breaking
        entertainment news, celeb gossip & the best of pop culture from http:\/\/t.co\/G81dlZhTp2!","url":"http:\/\/t.co\/J6mkqdLswn","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/J6mkqdLswn","expanded_url":"http:\/\/www.eonline.com","display_url":"eonline.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/G81dlZhTp2","expanded_url":"http:\/\/eonline.com","display_url":"eonline.com","indices":[73,95]}]}},"protected":false,"followers_count":8507863,"friends_count":123032,"listed_count":33669,"created_at":"Thu
        Mar 29 19:42:27 +0000 2007","favourites_count":26634,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":147702,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/453610885148188672\/UcSzs_cc.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/453610885148188672\/UcSzs_cc.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/649277430255894528\/fXWZf0GJ_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/649277430255894528\/fXWZf0GJ_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2883841\/1433786999","profile_link_color":"00B0F0","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"F0F0F0","profile_text_color":"0D0D0D","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":5,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/KrgRHcyJc9","expanded_url":"http:\/\/eonli.ne\/1jR16N2","display_url":"eonli.ne\/1jR16N2","indices":[81,104]}],"media":[{"id":659432294143381506,"id_str":"659432294143381506","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/tweet_video_thumb\/CSbGLX3WUAIqR6Y.png","media_url_https":"https:\/\/pbs.twimg.com\/tweet_video_thumb\/CSbGLX3WUAIqR6Y.png","url":"https:\/\/t.co\/rzsyjQybuj","display_url":"pic.twitter.com\/rzsyjQybuj","expanded_url":"http:\/\/twitter.com\/eonline\/status\/659432294919311360\/photo\/1","type":"photo","sizes":{"medium":{"w":500,"h":250,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":170,"resize":"fit"},"large":{"w":500,"h":250,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":659432294143381506,"id_str":"659432294143381506","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/tweet_video_thumb\/CSbGLX3WUAIqR6Y.png","media_url_https":"https:\/\/pbs.twimg.com\/tweet_video_thumb\/CSbGLX3WUAIqR6Y.png","url":"https:\/\/t.co\/rzsyjQybuj","display_url":"pic.twitter.com\/rzsyjQybuj","expanded_url":"http:\/\/twitter.com\/eonline\/status\/659432294919311360\/photo\/1","type":"animated_gif","sizes":{"medium":{"w":500,"h":250,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":170,"resize":"fit"},"large":{"w":500,"h":250,"resize":"fit"}},"video_info":{"aspect_ratio":[2,1],"variants":[{"bitrate":0,"content_type":"video\/mp4","url":"https:\/\/pbs.twimg.com\/tweet_video\/CSbGLX3WUAIqR6Y.mp4"}]}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Wed
        Oct 28 18:09:48 +0000 2015","id":659431889837535232,"id_str":"659431889837535232","text":"oh
        wut?","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":4048224919,"id_str":"4048224919","name":"dummy_acc",[...]
