<div class="hero">
  <div class="welcome-message">
    <h1>Welcome to another Twitter clone!</h1>
    <h3><%= link_to "Login with Twitter", login_path, class: "btn cur-btn btn-primary" %></h3>
  </div>
</div>

