<div class="hero">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>
            <%= @user_presenter.user.screen_name %>
          </h2>
          <%= image_tag @user_presenter.profile_picture, class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>

