---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/friendships/destroy.json
    body:
      encoding: UTF-8
      string: screen_name=%2A%40912%2A
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="4c29bf9098d178f7dc9b45ccfbc8c746",
        oauth_signature="j3fRCKU6C8dfEGgr%2F86%2FJkcpsDo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446137173", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 16:46:13 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 624861e4ce2194f13d8971cf0483e588
      X-Response-Time:
      - '16'
      X-Transaction:
      - b84a392203017f2e
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":34,"message":"Sorry, that page does not exist."}]}'
  recorded_at: Thu, 29 Oct 2015 16:46:13 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/friendships/destroy.json
    body:
      encoding: UTF-8
      string: screen_name=MongoDB
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="a71933ccfcf22e50bca8a7348e093af5",
        oauth_signature="0tUqIYLmC1urkHNrL9Puz7QM6GQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446137173", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 16:46:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 05dc5f71adad6146f8da2cf450956fe4
      X-Response-Time:
      - '97'
      X-Transaction:
      - 49a66e2252ce21ad
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":18080585,"id_str":"18080585","name":"MongoDB","screen_name":"MongoDB","location":"","description":"For
        the ones who dream big & think ahead to create the things we can\u2019t live
        without. MongoDB for #GIANTideas.","url":"https:\/\/t.co\/gdbC5QYyk3","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/gdbC5QYyk3","expanded_url":"https:\/\/www.mongodb.com\/","display_url":"mongodb.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":204455,"friends_count":3072,"listed_count":4011,"created_at":"Fri
        Dec 12 17:21:18 +0000 2008","favourites_count":1181,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":8343,"lang":"en","status":{"created_at":"Thu
        Oct 29 16:00:00 +0000 2015","id":659761612757139456,"id_str":"659761612757139456","text":"Join
        @kaloianm at #MDBDays &amp; learn about the changes we made to enable storage
        engines achieve their full concurrency potential!","source":"\u003ca href=\"http:\/\/www.sprinklr.com\"
        rel=\"nofollow\"\u003eSprinklr\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":2,"favorite_count":0,"entities":{"hashtags":[{"text":"MDBDays","indices":[18,26]}],"symbols":[],"user_mentions":[{"screen_name":"kaloianm","name":"Kaloian
        Manassiev","id":1192301250,"id_str":"1192301250","indices":[5,14]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"ABB8C2","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/619655093\/767dji3m3k684nza7w9z.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/619655093\/767dji3m3k684nza7w9z.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/605086196813950976\/yMypcSYI_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/605086196813950976\/yMypcSYI_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/18080585\/1440519096","profile_link_color":"ABB8C2","profile_sidebar_border_color":"829D5E","profile_sidebar_fill_color":"99CC33","profile_text_color":"3E4415","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false}'
  recorded_at: Thu, 29 Oct 2015 16:46:13 GMT
recorded_with: VCR 2.9.3
