---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/friendships/destroy.json
    body:
      encoding: UTF-8
      string: screen_name=%2A%40912%2A
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="8d3ba147ea90fb374b58fbcc630d96a0",
        oauth_signature="Zbg6qrwgk6lKRU5nod3E8gte434%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446136981", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 16:43:02 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 143181745111ae9dcc70708bb0c66db4
      X-Response-Time:
      - '17'
      X-Transaction:
      - c984a27324e40e0f
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":34,"message":"Sorry, that page does not exist."}]}'
  recorded_at: Thu, 29 Oct 2015 16:43:02 GMT
recorded_with: VCR 2.9.3
