---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="0fe2cadf77395db88e6e95c93f61295b",
        oauth_signature="6DVyhvOOadbv58eA3sV1pnvTgYs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446105446", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 07:57:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - dfc3dc9da59c850f87161dcd7b039571
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1446106347'
      X-Response-Time:
      - '82'
      X-Transaction:
      - b21dbae16d491630
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Oct 29 07:50:47 +0000 2015","id":659638496252948480,"id_str":"659638496252948480","text":"RT
        @dl_yoon: \ub9d0 \uc798\ud558\uc2e0\ub2e4...\nhttps:\/\/t.co\/kqdcg4NPPr \uc774\uac8c
        \uc6d0\ubcf8 \uae30\uc0ac https:\/\/t.co\/o1mhnsD3la","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":411836598,"id_str":"411836598","name":"Lustboy","screen_name":"LustboyLoL","location":"","description":"It
        probably sounds dumb, but I believed you would last forever.  https:\/\/t.co\/N4fL9SqaFt  -
        https:\/\/t.co\/BodhwXPWEW  - https:\/\/t.co\/jFXRcw3NT6","url":"https:\/\/t.co\/RjWOMkJpBn","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/RjWOMkJpBn","expanded_url":"http:\/\/thelust.net","display_url":"thelust.net","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/N4fL9SqaFt","expanded_url":"http:\/\/twitch.tv\/TSM_Lustboy","display_url":"twitch.tv\/TSM_Lustboy","indices":[65,88]},{"url":"https:\/\/t.co\/BodhwXPWEW","expanded_url":"http:\/\/Facebook.com\/TSMLustboy","display_url":"Facebook.com\/TSMLustboy","indices":[92,115]},{"url":"https:\/\/t.co\/jFXRcw3NT6","expanded_url":"http:\/\/plays.tv\/u\/Lustboy","display_url":"plays.tv\/u\/Lustboy","indices":[119,142]}]}},"protected":false,"followers_count":227283,"friends_count":501,"listed_count":578,"created_at":"Sun
        Nov 13 23:11:55 +0000 2011","favourites_count":2372,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":6892,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"F2EEEF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/627681545512325121\/_BowP185.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/627681545512325121\/_BowP185.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/658768909198209024\/g7qBOVjf_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/658768909198209024\/g7qBOVjf_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/411836598\/1446087171","profile_link_color":"FF3366","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FAFAFA","profile_text_color":"8F2E2E","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Oct 29 07:07:31 +0000 2015","id":659627606145236992,"id_str":"659627606145236992","text":"\ub9d0
        \uc798\ud558\uc2e0\ub2e4...\nhttps:\/\/t.co\/kqdcg4NPPr \uc774\uac8c \uc6d0\ubcf8
        \uae30\uc0ac https:\/\/t.co\/o1mhnsD3la","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":nu[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="82ddbf0ae2d989d8f5975e5b77796a10",
        oauth_signature="T4sYZGOMkQoV3N0vTg7kdSAfWkM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446105446", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: [...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/friendships/destroy.json
    body:
      encoding: UTF-8
      string: screen_name=LustboyLoL
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="165fc0edcefc6174dc4f3090a6ddf0d6",
        oauth_signature="OS%2F%2F40Yp8vxuGaW5%2F2VDRXFu7Gc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446105461", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 07:57:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b7ae6cf20992b97ca1640fb7a6ad3aa6
      X-Response-Time:
      - '184'
      X-Transaction:
      - ed78a008f187dd5c
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":411836598,"id_str":"411836598","name":"Lustboy","screen_name":"LustboyLoL","location":"","description":"It
        probably sounds dumb, but I believed you would last forever.  https:\/\/t.co\/N4fL9SqaFt  -
        https:\/\/t.co\/BodhwXPWEW  - https:\/\/t.co\/jFXRcw3NT6","url":"https:\/\/t.co\/RjWOMkJpBn","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/RjWOMkJpBn","e[...]
[...]
