---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="30a25e386d99a9cdc9b8f2c057fa9ebb",
        oauth_signature="F%2Fx0nJ97URJJPx3TgWznk7GiqEY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446057080", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 18:31:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 21068acd616512b524229f4d9e2597c0
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1446057980'
      X-Response-Time:
      - '52'
      X-Transaction:
      - 6427db8f73b71d68
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Oct 28 18:29:40 +0000 2015","id":659436889531924482,"id_str":"659436889531924482","text":"From
        American Horror Story to Ren and Stimpy: 10 TV moments that seriously grossed
        us out https:\/\/t.co\/ew4QvNBQFX https:\/\/t.co\/yOIN17RWFx","source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2883841,"id_str":"2883841","name":"E!
        Online","screen_name":"eonline","location":"Los Angeles, CA","description":"Breaking
        entertainment news, celeb gossip & the best of pop culture from http:\/\/t.co\/G81dlZhTp2!","url":"http:\/\/t.co\/J6mkqdLswn","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/J6mkqdLswn","expanded_url":"http:\/\/www.eonline.com","display_url":"eonline.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/G81dlZhTp2","expanded_url":"http:\/\/eonline.com","display_url":"eonline.com","indices":[73,95]}]}},"protected":false,"followers_count":8508018,"friends_count":123032,"listed_count":33669,"created_at":"Thu
        Mar 29 19:42:27 +0000 2007","favourites_count":26634,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":147703,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/453610885148188672\/UcSzs_cc.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/453610885148188672\/UcSzs_cc.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/649277430255894528\/fXWZf0GJ_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/649277430255894528\/fXWZf0GJ_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2883841\/1433786999","profile_link_color":"00B0F0","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"F0F0F0","profile_text_color":"0D0D0D","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":9,"favorite_count":4,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/ew4QvNBQFX","expanded_url":"http:\/\/eonli.ne\/1jRJl0i","display_url":"eonli.ne\/1jRJl0i","indices":[90,113]}],"media":[{"id":659436888873242625,"id_str":"659436888873242625","indices":[114,137],"media_url":"http:\/\/pbs.twimg.com\/media\/CSbKW0kUEAEey4H.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CSbKW0kUEAEey4H.jpg","url":"https:\/\/t.co\/yOIN17RWFx","display_url":"pic.twitter.com\/yOIN17RWFx","expanded_url":"http:\/\/twitter.com\/eonline\/status\/659436889531924482\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":444,"resize":"fit"},"large":{"w":1024,"h":759,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":252,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":659436888873242625,"id_str":"659436888873242625","indices":[114,137],"media_url":"http:\/\/pbs.twimg.com\/media\/CSbKW0kUEAEey4H.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CSbKW0kUEAEey4H.jpg","url":"https:\/\/t.co\/yOIN17RWFx","display_url":"pic.twitter.com\/yOIN17RWFx","expanded_url":"http:\/\/twitter.com\/eonline\/status\/659436889531924482\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":444,"resize":"fit"},"large":{"w":1024,"h":759,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":252,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Wed
        Oct 28 18:28:15 +0000 2015","id":659436532340772868,"id_str":"659436532340772868","text":"Making
        a special remix for the #neonfutureexperience mexico tour w\/ tour mate @ReidStefan!
        Can''t wait to give it to u","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_use[...]
