---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww%0A+++++++++++++++++++++wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww%0A+++++++++++++++++++++wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww%0A+++++++++++++++++++++wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="3063cbee99891a3efac7c93b3aed2aff",
        oauth_signature="nrZ9mw0MCGK9C3a1kWaBrHyPs5E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446092779", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 04:26:19 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - aff53821411986b31e5043991c3b3c4d
      X-Response-Time:
      - '23'
      X-Transaction:
      - c22289ebb0a195e7
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":186,"message":"Status is over 140 characters."}]}'
  recorded_at: Thu, 29 Oct 2015 04:26:19 GMT
recorded_with: VCR 2.9.3
