---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww%0A+++++++++++++++++++++wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww%0A+++++++++++++++++++++wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww%0A+++++++++++++++++++++wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="e5c82f1690675780778dde7464b4af2b",
        oauth_signature="PSsVzyw7UL5qZPYPi0bVDCqrmfU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446079697", oauth_token="<CREDENTIALS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 00:48:18 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 622c20ee7fef72ef5420905290301635
      X-Response-Time:
      - '26'
      X-Transaction:
      - a7780546ae6f46d3
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":186,"message":"Status is over 140 characters."}]}'
  recorded_at: Thu, 29 Oct 2015 00:48:18 GMT
recorded_with: VCR 2.9.3
